<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>auction</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>by.tc.auction.controller.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <servlet-name>FrontController</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>by.tc.auction.controller.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/user.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/user-list.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/lot-offer.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/lot-create.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/lot.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/auction-list.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/auction.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/auction-create.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>by.tc.auction.controller.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/register.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>BlockFilter</display-name>
    <filter-name>BlockFilter</filter-name>
    <filter-class>by.tc.auction.controller.filter.BlockFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BlockFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>by.tc.auction.controller.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/auction-create.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/user-list.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/lot-create.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/lot-list.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>by.tc.auction.controller.FrontController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/FrontController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageUploader</servlet-name>
    <servlet-class>by.tc.auction.controller.ImageUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploader</servlet-name>
    <url-pattern>/ImageUploader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <jsp-file>/jsp/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/jsp/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInfo</servlet-name>
    <jsp-file>/jsp/user.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/user.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UsersList</servlet-name>
    <jsp-file>/jsp/user-list.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersList</servlet-name>
    <url-pattern>/user-list.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LotCreate</servlet-name>
    <jsp-file>/jsp/lot-create.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LotCreate</servlet-name>
    <url-pattern>/lot-create.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LotList</servlet-name>
    <jsp-file>/jsp/lot-list.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LotList</servlet-name>
    <url-pattern>/lot-list.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LotOffer</servlet-name>
    <jsp-file>/jsp/lot-offer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LotOffer</servlet-name>
    <url-pattern>/lot-offer.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LotInfo</servlet-name>
    <jsp-file>/jsp/lot.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LotInfo</servlet-name>
    <url-pattern>/lot.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuctionCreate</servlet-name>
    <jsp-file>/jsp/auction-create.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionCreate</servlet-name>
    <url-pattern>/auction-create.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuctionsInfo</servlet-name>
    <jsp-file>/jsp/auction-list.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionsInfo</servlet-name>
    <url-pattern>/auction-list.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuctionInfo</servlet-name>
    <jsp-file>/jsp/auction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuctionInfo</servlet-name>
    <url-pattern>/auction.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>404</servlet-name>
    <jsp-file>/jsp/errors/404.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>404</servlet-name>
    <url-pattern>/404.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Error</servlet-name>
    <jsp-file>/jsp/errors/error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/error.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Blocked</servlet-name>
    <jsp-file>/jsp/errors/blocked.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Blocked</servlet-name>
    <url-pattern>/blocked.jsp</url-pattern>
  </servlet-mapping>
  <servlet> 
    <servlet-name>AccessDenied</servlet-name>
    <jsp-file>/jsp/errors/access-denied.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessDenied</servlet-name>
    <url-pattern>/access-denied.jsp</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF/quartz.properties</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:config-file</param-name>
    <param-value>quartz.properties</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:shutdown-on-unload</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:wait-on-shutdown</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:start-scheduler-on-load</param-name>
    <param-value>true</param-value>
  </context-param>
  <listener>
    <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
  </listener>
  <listener>
    <listener-class>by.tc.auction.controller.listener.quartz.QuartzJobListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>QuartzInitializer</servlet-name>
    <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
    <init-param>
      <param-name>shutdown-on-unload</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <listener>
    <listener-class>by.tc.auction.controller.listener.connection_pool.InitializeConnectionPoolListener</listener-class>
  </listener>
</web-app>